.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    mat-card {
        border-radius: 0;
        display: none;
        width: 100%;
        height: 400px;
        position: relative;
        transition: opacity 0.5s ease-in-out;

        &.active {
            display: block;
            opacity: 1;
        }

        .image-container {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.4);
                color: white;
                width: 100%;
                padding: 10px 2em;
                box-sizing: border-box;

                mat-card-content {
                    padding: 0;

                    h2,
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        &:first-of-type {
            left: 10px;
        }

        &:last-of-type {
            right: 10px;
        }
    }
}