.active-link {
    background-color: #e0e0e0;
    /* Cor de fundo para o link ativo */
    font-weight: bold;
    /* Negrito para o link ativo */
    color: #1976d2;
    /* Cor do texto para o link ativo */
}

