<div class="content">
    <h2>Sobre Nós</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla cupiditate quaerat soluta qui, velit illum vitae sapiente optio, eum expedita impedit rem fugiat aliquid quidem. Excepturi at similique harum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla cupiditate quaerat soluta qui, velit illum vitae sapiente optio, eum expedita impedit rem fugiat aliquid quidem. Excepturi at similique harum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla cupiditate quaerat soluta qui, velit illum vitae sapiente optio, eum expedita impedit rem fugiat aliquid quidem. Excepturi at similique harum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla cupiditate quaerat soluta qui, velit illum vitae sapiente optio, eum expedita impedit rem fugiat aliquid quidem. Excepturi at similique harum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla cupiditate quaerat soluta qui, velit illum vitae sapiente optio, eum expedita impedit rem fugiat aliquid quidem. Excepturi at similique harum!</p>
</div>