.login-card {
    width: 90%;
    min-width: 300px;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(233, 240, 255, 0.5);
}

mat-card-title {
    margin-bottom: 1rem;  
}

mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
}